body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 10px;
}

.links {
    margin-top: 20px;
}

.link-item {
    display: block;
    margin: 5px 0;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#audioPlayer {
    width: 100%;
    margin-top: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#audioPlayer::-webkit-media-controls-panel {
    background-color: #f0f0f0;
    border-radius: 10px;
}

#audioPlayer::-webkit-media-controls-timeline {
    background-color: #e0e0e0;
}

#audioPlayer::-webkit-media-controls-current-time-display {
    color: #333;
}

#audioPlayer::-webkit-media-controls-time-remaining-display {
    color: #333;
}

#audioPlayer::-webkit-media-controls-play-button {
    background-color: #4CAF50;
    border-radius: 50%;
}

#audioPlayer::-webkit-media-controls-mute-button {
    background-color: #2196F3;
    border-radius: 50%;
}

#audioPlayer::-webkit-media-controls-volume-slider {
    background-color: #FF9800;
}

#announcement {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#announcement p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

#announcement button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#announcement button:hover {
    background-color: #45a049;
}